@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(http://fonts.googleapis.com/css?family=Alegreya:400,400italic,700);


/*** GLOBAL ***/
body {
	font-family: 'Alegreya', sans-serif;
	margin: 0;
	background-image: url('lined_paper.png');
	color: #444;
}


/*** HEADER ***/
.cover {
	display: inline-block;
	position: relative;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	box-shadow: 2px 2px #E6E6E6;
}

.cover-img {
	width: 820px;
	display: block;
	margin: 0 auto;
}

.header-title, .header-sub {
	font-family: 'Raleway', serif;
	position: absolute;
}

.header-title {
	font-weight: normal;
	left: 20px;
	top: 20px;
}

.header-sub {
	font-size: 12pt;
	font-style: italic;
	font-weight: normal;
	left: 240px;
	top: 36px;
}


/*** MAIN ***/
.post, .header-title, .header-sub {
	width: 80%;
	margin: 0 auto;
}

.post {
	background-color: rgba(255, 255, 255, .7);
	border: 1px solid #CCC;
	box-shadow: 2px 2px #E6E6E6;
	margin-top: 50px;
	padding: 10px;
	width: 800px;
}

.first-post {
	margin-top: 100px;
}

.post-title {
	display: inline-block;
	font-weight: bold;
	font-family: 'Roboto Slab', sans-serif;	
}

.post-date {
	display: inline-block;
	font-size: 10pt;
	float: right;
	font-family: 'Roboto Slab', sans-serif;
}

.post-underline {
	width: 100%;
	margin-bottom: 5px;
	border-bottom: 1px solid #CCC;
}

.post-spacer {
	height: 10px;
}

.post-img {
	width: 600px;
	display: block;
	margin: 10px auto;
}

.post-img[alt="logo"] {
	width: 240px;
}


/*** FOOTER ***/
.footer-clear {
	margin-bottom: 60px;
}


/*** MEDIA QUERIES ***/
/*@media(min-width: 800px) {
	.post {
		margin-left: 10%;
	}
}*/